{%- assign problem = include.problem -%}
{%- assign embed = include.embed | default: false -%}
{%- assign implementations = include.implementations | default: problem.implementations -%}
{%- assign code_cfg = site.data.site.app.code_collection -%}
{%- assign browser_cfg = site.data.site.app.eureka.browser | default: empty -%}

{%- if implementations.size == 0 -%}
  <p>Problem implementation data not found.</p>
{%- else -%}
  {%- include code_collection.html
    entries=implementations
    collection_id='problem-code'
    sync_hash=true
    embed=embed
    problem_source_url=problem.problem_source_url
    toolbar_aria=browser_cfg.toolbar_label
    variant_group_label=browser_cfg.variant_group_label
    variant_group_visibility=browser_cfg.variant_group_visibility
    variant_presentation=browser_cfg.variant_presentation
    variant_catalog=code_cfg.implementation_modes
    variant_icons=code_cfg.variant_icons
  -%}
{%- endif -%}
