{%- assign patterns = include.patterns | default: empty -%}
{%- assign template_panels = include.template_panels | default: empty -%}
{%- assign rendered_target = include.rendered_target | default: '' -%}
<section class="template-library__code" aria-live="polite">
  {%- for template in template_panels -%}
    {%- assign panel_active = false -%}
    {%- if template.target == rendered_target -%}
      {%- assign panel_active = true -%}
    {%- endif -%}
    {%- include template_panel.html template=template active=panel_active -%}
  {%- endfor -%}
  {%- for pattern in patterns -%}
    {%- include template_pattern_panel.html pattern=pattern -%}
  {%- endfor -%}
</section>
