{%- assign patterns = include.patterns | default: empty -%}
{%- assign rendered_target = include.rendered_target | default: '' -%}
<section class="template-library__code" aria-live="polite">
  {%- for pattern in patterns -%}
    {%- for variant in pattern.variants -%}
      {%- if variant.has_template -%}
        {%- assign panel_active = false -%}
        {%- if variant.target == rendered_target -%}
          {%- assign panel_active = true -%}
        {%- endif -%}
        {%- include template_panel.html pattern=pattern variant=variant active=panel_active -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
  {%- for pattern in patterns -%}
    {%- include template_pattern_panel.html pattern=pattern -%}
  {%- endfor -%}
</section>
