<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ page.title | jsonify }},
  "description": {{ include.page_description | jsonify }},
  "url": {{ include.page_url | jsonify }},
  "author": {{ include.person_json | strip }},
  "publisher": {{ include.person_json | strip }},
  "datePublished": {{ page.date | date_to_xmlschema | jsonify }},
  "dateModified": {{ page.last_modified_at | default: page.date | date_to_xmlschema | jsonify }}
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": {{ '/' | absolute_url | jsonify }}
    },
    {
      "@type": "ListItem",
      "position": 2,
      "name": {{ page.title | jsonify }},
      "item": {{ include.page_url | jsonify }}
    }
  ]
}
</script>
