---
layout: embed
---

{%- assign entries = page.entries -%}

{%- if entries == nil or entries.size == 0 -%}
  <p>Code not found.</p>
{%- else -%}
  <article class="code-embed" data-code-embed>
    {%- if page.problem_record -%}
      {%- include code_collection.html
        entries=entries
        collection_id='embed-code'
        kind='problem'
        embed=true
        problem_source_url=page.problem_source_url
      -%}
    {%- else -%}
      {%- include code_collection.html
        entries=entries
        collection_id='embed-code'
        embed=true
      -%}
    {%- endif -%}
  </article>
{%- endif -%}
