---
layout: default
---

{%- assign explorer = page.explorer -%}

{%- include page_hero_header.html
  class="problem-browser-header"
  eyebrow=explorer.project_title
  title=page.title
  description=page.description
  link_group="problem_explorer"
-%}

{%- assign page_content = content | strip -%}
{%- if page_content != "" -%}
  <section class="problem-browser__intro">
    {{ content }}
  </section>
{%- endif -%}

<section class="problem-browser">
  <aside class="problem-browser__filters">
    {%- include problems_filters.html explorer=explorer -%}
  </aside>

  <div class="problem-browser__results">
    <div class="active-filter-list" data-active-filter-list hidden></div>
    {%- include problems_table.html explorer=explorer -%}
  </div>
</section>
