---
layout: default
---

{%- assign browser = page.browser_record -%}

{%- include page_hero_header.html
  class="problem-browser-header"
  eyebrow=browser.project_title
  title=page.title
  description=page.description
  links=page.header_links
-%}

{%- assign page_content = content | strip -%}
{%- if page_content != "" -%}
  <section class="problem-browser__intro">
    {{ content }}
  </section>
{%- endif -%}

<section class="problem-browser">
  <aside class="problem-browser__filters">
    {%- include problems_filters.html browser=browser -%}
  </aside>

  <div class="problem-browser__results">
    <div class="active-filter-list" data-active-filter-list hidden></div>
    {%- include problems_table.html browser=browser -%}
  </div>
</section>
